.container {
  margin-top: 20px;
  > div {
    display: flex;
    gap: 0 20px;

    .prod_detail {
      .prod_name {
        font-size: 24px;
        font-weight: 700;
      }

      .prod_price {
        margin-top: 4px;
        font-size: 20px;
        font-weight: 700;
      }

      .actions {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 0 12px;

        .total {
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
  }
}
