.container {
  margin-top: 80px;
  width: 100%;

  h3 {
    font-size: 40px;
    font-weight: 700;
  }

  .products {
    margin-top: 20px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  }


  &:nth-child(1) {
    margin-top: 0;
  }
}
