.container {
  background: #49af4f;
  padding: 16px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    display: flex;
    gap: 0 40px;
    align-items: center;

    .logo {
      border-radius: 50%;
    }

    .left_content {
      color: #fff;
      h2 {
        font-weight: 700;
      }
      h3 {
        font-size: 20px;
      }
    }
  }
}
