.wrapper {
  min-height: calc(100dvh - 118px);

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("/bg_app.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
  }

  .container {
    padding: 0 60px;
    height: calc(100dvh - 118px);
    z-index: 100;
    display: flex;
    align-items: center;
    color: #fff;

    .left {
      height: fit-content;
      width: 40dvw;
      text-align: center;

      h1 {
        font-size: 50px;
      }

      .divider {
        margin: auto;
        width: 70%;
        margin: 20px auto;
      }

      .btn {
        margin-top: 20px;
        background-color: #49af4f;
        border: none;
        text-decoration: none;
        color: #fff;
      }
    }

    .right {
      width: 60dvw;
      font-size: 24px;
    }
  }
}
